@namespace OptionA.Composer.Components

@if (Note?.Note is not null)
{
    <span @attributes="@GetAttributes()">@Note.Note</span>
    <nbsp />
    <span>@Note.Length</span>
    <nbsp />
    <span>@Note.Octave</span>
    <nbsp />
}